main {
    background-color: orange;
}

.container-main {
    padding: 100px;
}

.select-container {
    padding-left: 10px;
    padding-bottom: 40px;
}

.container-cards {
    background-color: white;
    padding: 30px;
}

.title-research {
    background-color: black;
    align-items: center;
    height: 30px;
    padding-left: 15px;
}

.title-research>h4 {
    color: white;
}