main {
    background-color: orange;
}

.container-main {
    padding: 100px;
}

.select-container {
    padding-left: 10px;
    padding-bottom: 40px;
}

.container-cards {
    background-color: white;
    padding: 30px;
}

.title-research {
    background-color: black;
    align-items: center;
    height: 30px;
    padding-left: 15px;
}

.title-research>h4 {
    color: white;
}

.container-singles {
    flex-wrap: wrap;
}

.singles {
    width: calc(100% / 5);
}

.single {
    background-color: orange;
    margin: 10px;
    height: 500px;
}

.single>h3,
.single>p {
    color: white;
}